* {
    margin: 0;
    padding: 0;
}

#container {
    width: 96%;
    margin: 2%;
}

.questionDiv {
    width: 100%;
    margin-bottom: 5%
}

h1 {
    font-size: 2.5em;
    margin-bottom: 2%;
}

.question {
    width: 100%;
    height: 50%;
    background-color: #c3c8cd;
    margin-bottom: 2%;
    position: relative;
    background-size: 100%;
}

.questionPar{
    font-size: 3em;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 25%;
}

.button {
width: 48%;
/* height: 18%; */
font-size: 1.5em;
display: block;
margin-bottom: 2%;
padding: 0.5%;
background-color:rgb(211, 208, 208);
}

.buttonAFL {
    float: left;
    margin-right: 2%;
}

.buttonLit {
    float: right;
    margin-left: 2%;
}

.bio {
    clear: both;
}


.right::before { 
    content: "CORRECT: ";
    font-weight: bold;
}

.wrong::before {
    content: "WRONG: ";
    font-weight: bold;
}


