* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 96%;
    margin: 2%;
}

.questionDiv {
    width: 100%;
    margin-bottom: 5%
}

h1 {
    font-size: 2.5em;
    margin-bottom: 2%;
}

.question {
    width: 100%;
    height: 50%;
    background-color: #0375b4;
    margin-bottom: 2%;
    position: relative;
    background-size: 100%;
}

.questionPar{
    font-size: 3em;
    font-weight: bold;
    color: white;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 25%;
}

.button {
width: 48%;
font-size: 1.5em;
color: white;
display: block;
margin-bottom: 2%;
padding: 0.5%;
background-color: #262228;
}

.buttonAFL {
    float: left;
    margin-right: 2%;
}

.buttonLit {
    float: right;
    margin-left: 2%;
}

.bio {
    clear: both;
}


.right::before { 
    content: "CORRECT: ";
    font-weight: bold;
}

.right, .wrong {
 font-size: 1em;
}

.wrong::before {
    content: "WRONG: ";
    font-weight: bold;
}


/*View for tablets*/
@media (min-width:479px) {

    body {
        background-color: #ffce00;
    }

    #container {
         background-color: white;
         width: 76%;
         margin: auto;
         padding: 2%;
    }

    h1 {
       font-size: 3.5em;
    }

    .questionPar{
        font-size: 5em;
    }

    .button {
        font-size: 2em;
    }

    .right, .wrong {
        font-size: 2em;
    }

}

/*View for desktop*/
@media (min-width:1000px) {
    #container {
        width: 40%;
   }

   .right, .wrong {
    font-size: 1.5em;
   }

}


